unversioned*
data/sociopol
data/changemyview-sociopol*
data/changemyview-post-comments-pairs2.pickle.*
**/*.aux
**/*.bbl
**/*.blg
**/*.log
**/*.mp
**/*.out
**/*.synctex.gz
**/*.top
**/*.tui 
tmp
.DS_Store
tensorboard
main.pdf
cover*letter.pdf
supplementary.pdf
*.pyc
*.p
*.fdb_latexmk
*.fls
*.tcp
*.tps
.ipynb_checkpoints
Untitled*.ipynb
